[defaults]
# Ruta al inventario por defecto
inventory = inventory.ini

# Desactivar la verificación estricta de la clave del host SSH (útil para entorns de dev/lab)
host_key_checking = False

# Desactivar la creación de archivos .retry cuando un playbook falla
retry_files_enabled = False

# Formato claro y legible de salida en terminal (stdout callback)
stdout_callback = ansible.builtin.default
result_format = yaml

[privilege_escalation]
# Forzar escalamiento de privilegios por defecto usando sudo
become = True
become_method = sudo
become_user = root
become_ask_pass = False
